
<body style="background-color:rgb(254, 254, 159);"></body>
  <form method="get" action="/auth/logout">
    <button type="submit">Logout</button>
  </form>
<img src="/images/Logo.png"width="120"/>
<<<<<<< HEAD
<h1>Comments Dashboard</h1>
<h2>Hello <%= user %></h2>
<div id="profile-button"><form method="GET" action="/profile">
  <button type="submit">Go Back to Profile</button>
</form>
</div>
<br>
<br>
=======
<h1>Event Dashboard</h1>
<h2>Hello <%= user %>!</h2>

>>>>>>> main
<ul id="commentool">
    <% allComments.forEach(comment => { %>
      <% const date = new Date(comment.createdAt) %>
    <li> - <%= comment.author.username %> Posted: <%= comment.content %> on <%= date.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: false }) %> </li>
    <% }) %>
</ul>
<br>
<br>
<!--
<div>
  <form method="POST" action="/delete/ /">
    <button type="submit">Delete</button>
</div>
-->