<link rel="stylesheet" href="/stylesheets/style.css" />
<body></body>
<div class="bg-container"></div>
<img src="/images/Logo.png"width="120"/>
<form method="get" action="/logout">
  <button class="logout-button" type="submit">Logout</button>
</form>
<h1>Comments Dashboard</h1>

<h2>Hello <%= user %>!</h2>

<div id="profile-button"><form method="GET" action="/profile">
  <button class="goback-button" type="submit">Go Back to Profile</button>
</form>
</div>
<br>
<br>
<style>
  #commentool {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    list-style-type: decimal;
    list-style-position: inside;

  }

  #commentool li {
    border: 2px solid rgba(181, 52, 101, 0.336);
    padding: 20px;
    margin-inline-end: auto;
    background-color: rgb(240, 240, 240);

  }
</style>
<ul id="commentool">
    <% allComments.forEach(comment => { %>
      <% const date = new Date(comment.createdAt) %>
    <li> <span class="user-span" style="color:rgb(181, 52, 102)"> <%= comment.author.username %></span> Posted: <span class="comment-span" style="color:rgb(0, 0, 0)"><%= comment.content %></span> <span class="datetime" > on <%= date.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: false }) %></span>
      <form action="/comments/delete/<%= comment._id %>" method="POST">
        <br>
        <br>
        <button class="delete-button">Delete</button>
      </form></li>
    <% }) %>
</ul>
<br>
<br>